#define AppIcon 101
AppIcon ICON "icon.ico"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  2,0,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      ""
            VALUE "FileDescription",  "Aplicação para gerenciamento de uma copa do mundo"
            VALUE "FileVersion",      "1.0"
            VALUE "InternalName",     "Copa"
            VALUE "LegalCopyright",   ""
            VALUE "LegalTrademarks1", ""
            VALUE "LegalTrademarks2", ""
            VALUE "OriginalFilename", "Copa.exe"
            VALUE "ProductName",      "Copa"
            VALUE "ProductVersion",   "2.0"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0416, 1252
    END
END